:root {
  --moderate-violet: hsl(263, 55%, 52%);
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --very-dark-blackish-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);

  --light-gray: hsl(0, 0%, 81%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: inherit;
}

body {
  font-size: 0.8125rem;
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: #eee;
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;

  display: grid;
  place-items: center;
}

.container {
  max-width: 1440px;
  width: 70%;
  margin: 0 auto;
}

.card__title {
  font-size: 1.4rem;
  font-weight: normal;
}

.card__text {
  line-height: 1.4;
  opacity: 0.5;
  font-size: 0.95rem;
}

.card__text::before {
  content: '" ';
}

.user__status {
  opacity: 0.5;
}

.card {
  padding: 1.5rem;
  max-width: 350px;
  margin: 1rem auto;

  border-radius: 0.5rem;
}

.card:hover {
  opacity: 0.9;
}

.user {
  display: flex;
  column-gap: 1.5rem;
}

.user__photo > img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.card__title {
  margin: 1rem 0;
}

.card--violate {
  background-color: var(--moderate-violet);
  color: white;
  position: relative;
}

.card--violate .card__title {
  position: relative;
  z-index: 2;
}

.card--violate::after {
  content: "";
  position: absolute;
  background-image: url("../src/images/bg-pattern-quotation.svg");
  height: 102px;
  width: 102px;
  top: 0;
  left: 70%;
  z-index: 1;
}

.card--light-dark-blue {
  background-color: var(--very-dark-grayish-blue);
  color: white;
}

.card--1-white,
.card--2-white {
  background-color: white;
  color: var(--very-dark-grayish-blue);
}

.card--dark-blue {
  background-color: var(--very-dark-blackish-blue);
  color: white;
}

@media (min-width: 400px) {
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "a a b c" "d e e c";
    gap: 1.5rem;
  }

  .card {
    max-width: fit-content;
    margin: 0;
  }

  .card--violate {
    grid-area: a;
  }

  .card--1-white {
    grid-area: c;
  }

  .card--2-white {
    grid-area: d;
  }

  .card--dark-blue {
    grid-area: e;
  }
}
